<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.brujula" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Brujula Prueba</name>
    <description>
        Practica de plugin
    </description>
    <author email="fernando.barciela@gmail.com" href="http://www.responsivewebdesign.com.ar">
        Fernando Barciela
    </author>
	
	<gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
    
   <access origin="*" />
</widget>
